/**
 * Links.
 */
.share_this_thing_content {
  display: block;
  text-align: right;
}
.share_this_thing_content a.ctools-modal-share-this-thing {
  /* Provided as a reference. */
}
.share_this_thing_links {
  /* Provided as a reference. */
}
.share_this_thing_links a.ctools-modal-share-this-thing {
  /* Provided as a reference. */
}

/**
 * Modal Window.
 */
div.ctools-modal-share-this-thing {
  webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  box-shadow: 0 4px 16px rgba(0,0,0,.2);
  background: #ffffff;
  background-clip: padding-box;
  border: 1px solid #acacac;
  border: 1px solid rgba(0,0,0,.333);
  outline: 0;
  color: #000000;
  padding: 30px 42px;
  margin: 20px;
}
div.ctools-modal-share-this-thing .popups-container {
  overflow: hidden;
  height: 100%;
}
div.ctools-modal-share-this-thing .modal-header {
  background-color: transparent;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
  color: #000000;
}
div.ctools-modal-share-this-thing .modal-title {
  color: #000000;
  font-weight: normal;
  font-size: 1.5em;
}
div.ctools-modal-share-this-thing .modal-header a {
  /* Provided as a reference. */
}
div.ctools-modal-share-this-thing .modal-content {
  /* Provided as a reference. */
}
div.ctools-modal-share-this-thing .modal-form {
  /* Provided as a reference. */
}
div.ctools-modal-share-this-thing .popups-close {
  font-size: small;
  float: right;
  text-align: right;
}
div.ctools-modal-share-this-thing a.close {
  color: #000000;
  text-decoration: none;
}
div.ctools-modal-share-this-thing .modal-scroll{
  overflow: hidden;
  overflow-y: auto;
}
div.ctools-modal-share-this-thing .modal-content {
  padding: 0;
}
div.ctools-modal-share-this-thing .modal-content .modal-throbber-wrapper {
  /* Provided as a reference. */
}
div.ctools-modal-share-this-thing .modal-content .modal-throbber-wrapper img {
  margin-top: 100px;
}
div.ctools-modal-share-this-thing .form-item {
  margin: 1em 0;
}
div.ctools-modal-share-this-thing .form-item label {
  float: none;
  display: inline;
}
div.ctools-modal-share-this-thing .form-item input.form-text,
div.ctools-modal-share-this-thing .form-item textarea.form-textarea,
div.ctools-modal-share-this-thing .form-item select.form-select {
  width: 480px;
  border: 1px solid #acacac;
  padding: 2% 9px;
}
div.ctools-modal-share-this-thing .form-item .description {
  clear: both;
}

/*
div.ctools-modal-share-this-thing #popups-overlay {
  background-color: transparent;
}
div.ctools-modal-share-this-thing #popups-loading {
  width: 248px;
  position: absolute;
  display: none;
  opacity: 1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index: 99;
}
div.ctools-modal-share-this-thing #popups-loading span.popups-loading-message {
  background:#FFF url(../images/loading-large.gif) no-repeat 8px center;
  display:block;
  color:#444444;
  font-family:Arial;
  font-size:22px;
  font-weight:bold;
  height:36px;
  line-height:36px;
  padding:0 40px;
}
div.ctools-modal-share-this-thing .popups-box,
div.ctools-modal-share-this-thing #popups-loading {
  border: 0px solid #454545;
  opacity:1;
  overflow:hidden;
  padding:0;
  background-color:transparent;
}
div.ctools-modal-share-this-thing .popups-box .popups-buttons,
div.ctools-modal-share-this-thing .popups-box .popups-footer {
  background-color:#fff;
}
div.ctools-modal-share-this-thing .modal-loading-wrapper {
  width:220px;
  height:19px;
  margin:0 auto;
  margin-top:2%;
}
*/
