/**
 * share-this-thing.form.css
 */

#share-this-thing-form {
  /* Provided as a reference. */
}
#share-this-thing-form .form-item {
  /* Provided as a reference. */
}
#share-this-thing-form .form-item label {
  /* Provided as a reference. */
}
#share-this-thing-form input.form-text {
  /* Provided as a reference. */
}
#share-this-thing-form .form-item .description {
  /* Provided as a reference. */
}
